body{

background:#f4f6f9;

font-family:Arial,Helvetica,sans-serif;

}

.login-wrapper{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

background:white;

padding:50px;

border-radius:20px;

width:420px;

box-shadow:0 15px 40px rgba(0,0,0,.1);

text-align:center;

}

.sidebar{

background:#0f172a;

height:100vh;

}

.sidebar a{

display:block;

padding:15px;

color:white;

text-decoration:none;

}

.sidebar a:hover{

background:#1e293b;

}

.dashboard-card{

padding:25px;

border:none;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}
