{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

<div class="row">

<div class="col-2 sidebar">

<h4 class="mt-4 text-center">

IPM

</h4>

<hr>

<a href="#">Dashboard</a>

<a href="#">IMS Center</a>

<a href="#">Products</a>

<a href="#">Targets</a>

<a href="#">Prime</a>

<a href="#">Reports</a>

<a href="#">Settings</a>

</div>

<div class="col-10">

<div class="p-4">

<h2>

Dashboard

</h2>

<div class="row mt-4">

<div class="col-md-4">

<div class="card dashboard-card">

<h5>Annual Revenue</h5>

<h2>--</h2>

</div>

</div>

<div class="col-md-4">

<div class="card dashboard-card">

<h5>Annual Units</h5>

<h2>--</h2>

</div>

</div>

<div class="col-md-4">

<div class="card dashboard-card">

<h5>Main Bonus</h5>

<h2>--</h2>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

{% endblock %}
